header
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    max-width: 1200px;
/* Adicione estas duas linhas para centralizar */
    margin-left: auto;
    margin-right: auto;
    
    /* Opcional: para centralizar o texto dentro do header */
    text-align: center;
}

#header-container
{
    display: flex;
    justify-content: center;
}

header ul
{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 0px;
}

header li a
{
    font-size: 15px;
    text-transform: uppercase;
    color: #868686;
    text-decoration: none;
    padding: 14px 25px;
}

header li a:hover
{
    background-color: #9A0000;
    border-radius: 5px;
    color: white;
}

#header-line
{
    width: 98%; /* Largura da linha */
    height: 4px;  /* Espessura da linha */
    background-color: #D0D0D0; /* Cor da linha */

    /* Arredondando as pontas */
    border-radius: 5px;

    /* Centralizando a div */
    margin: 5px auto 0 auto; /* 5px de espaço no topo, centralizada, 0 embaixo */

    /* Bônus: a sombra */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}